@use './variables' as *;

body {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal
}

@keyframes scroll {
    0% {width: 80%; height: 30vh; background-color: $lavender-blush;}
    50% {background-color: $rose-quartz;}
    100% {width: 100%; height: 125vh; background-image: url('../../assets/images/starry-night.jpeg');}
}
