$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$carolina-blue: rgba(135, 188, 222, 1);
$night: rgba(14, 16, 11, 1);
$rosewood: rgba(110, 0, 11, 1);
$rose-quartz: rgba(175, 146, 157, 1);
$lavender-blush: rgba(255, 243, 255, 1);
$azure-web: rgba(221, 237, 239, 1);
$sunset: rgba(249, 199, 132, 1);