@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.signup {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    @include tablet {
        padding: 5rem 0;
    }

    @include desktop {
        padding: 3rem 0;
    }

    &__form {
        background-color: $rosewood;
        width: 95%;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablet {
            width: 80%;
        }

        @include desktop {
            height: 40vh;
        }
    }

    &__container {
        width: 90%;
        height: 90%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 30px;
        padding: 8rem;
    }

    &__div {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0;
    }

    &__label {
        color: $night;
        font-weight: 700;
    }

    &__input {
        border-radius: 16px;
        padding: 0.5rem 1rem;
        border: 1px solid $night;
        box-shadow: 4px 4px 5px $rosewood;
        margin-top: 5px;
    }

    &__button {
        margin: 0;
        width: 200px;
        padding: 0.5rem 1rem;
        background-color: $rosewood;
        box-shadow: 4px 4px 5px $rosewood;
        border: 1px solid white;
        border-radius: 1rem;
        color: white;
        margin-top: 5px;
    }
}