@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.signup {
    display: flex;
    justify-content: center;

    &__form {
        width: 75%;
        background-color: $light-copper;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        height: 60vh;
        margin: 5rem 0;
    }

    &__container {
        width: 47.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;

        &--left {
            background-color: white;
            gap: 10px;
            padding: 2rem 0;
        }

        &--right {
            background-image: url('../../assets/images/bookstack.jpg');
            background-size: cover;
            justify-content: flex-start;
        }
    }

    &__logo {
        width: 10rem;
        margin: 1rem auto;
    }

    &__title {
        color: $brown;
    }

    &__label {
        font-size: 0.5rem;
        color: $brown;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        width: 190px;
    }

    &__input {
        border: 1px solid lightgray;
        border-radius: 0.5rem;
        font-size: 0.5rem;
        padding: 0.35rem 0.25rem;
    }

    &__button {
        border: none;
        padding: 0.5rem 3rem;
        background-color: $orange;
        color: white;
        font-size: 0.5rem;
        border-radius: 0.75rem;

        &:hover {
            background-color: #b35500;
        }
    }
}