@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.block {
    background-color: $rosewood;
    display: flex;
    justify-content: center;
    margin: 0;
    

    &__internal {
        background-color: $lavender-blush;
        width: 70%;
    }
}