@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.profile {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        width: 100%;
        gap: 30px;
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__image {
        width: 100%;
        border-radius: 50%;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &__likes {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__like-box {
        display: flex;
        gap: 10px;
    }

    &__like-image {
        width: 30%;
    }

    &__like-blank {
        background-image: url('../../assets/images/cover.jpeg');
        width: 30%;
        height: 6.296rem;
        background-size: cover;
        background-repeat: no-repeat;
    }
}