.modal {
  background-color: rgba(0, 0, 0, 0.262);
  width: 100vw;
  height: 100vh;
  position: fixed;
  &__box {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  &__text {
    width: auto;
    background-color: white;
  }
}
