@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.header {
    
    // @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    // }

    &__container {

        // @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 2rem;
            width: 100%;        
        // }

        &--top {
            // @include tablet {
                border-bottom: 1px solid lightgray;
            // }
        }

        &--bottom {
            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 30%;
            }
        }
    }

    &__box {
        // @include tablet {
            display: flex;
            gap: 0.5rem;
        // }

        &--right {
            // @include tablet {
                gap: 1.75rem;
            // }
        }
    }

    &__logo {
        // @include tablet {
            width: 2.5rem;
        // }
    }

    &__title {
        // @include tablet {
            color: $brown;
            font-size: 1.5rem;
            font-weight: 500;
        // }
    }

    &__link {
        // @include tablet {
            text-decoration: none;
        // }
    }

    &__button {
        // @include tablet {
            display: none;
            @include tablet {
                display: flex;
                color: $white;
                background-color: $orange;
                padding: 0.25rem  1rem;
                border-radius: 16px;
                font-weight: 400;
            }
        // }
    }

    &__social {
        // @include tablet {
            display: flex;
            align-items: center;
        // }
    }

    &__media {
        // @include tablet {
            width: 1.5rem;
        // }

        &--twitter {
            // @include tablet {
                width: 2.5rem;
            // }
        }

        &--linkedin {
            // @include tablet {
                width: 1.6rem;
            // }
        }
    }

    &__option {
        // @include tablet {
            display: flex;
            align-items: center;
            gap: 5px;
        // }
    }

    &__text {
        // @include tablet {
            color: $brown;
            font-weight: 500;
            font-size: 1rem;
        // }
    }

    &__drop {
        // @include tablet {
            width: 0.5rem;
        // }
    }
}