@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.footer {
    background-color: $lavender-blush;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;

    &__title {
        font-size: 1rem;
        color: $rosewood;
        padding: 1rem 2rem;
        background-color: white;
        box-shadow: 4px 4px 5px $rosewood;
        border: 2px solid $carolina-blue;
    }

    &__link {
        text-decoration: none;
    }
}