@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/variables' as *;

.welcome {
   padding: 0 2rem; 

   &__banner {
    background-color: $light-copper;
    display: flex;
    height: 360px;
   }

   &__hero {
    width: 50%;
    height: 100%;

    @include tablet {
        display: none;
    }


    @include desktop {
        display: flex;
    }
   }

   &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 50%;
    }
   }

   &__image {
    width: 160px;
   }

   &__title {
    color: $brown;
    font-weight: 500;
    font-size: 24px;
   }

   &__carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
   }

   &__tagline {
    display: flex;
    width: 80%;
    gap: 10px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-evenly;

    @include tablet {
        justify-content: space-between;
        width: 75%;
    }

    @include desktop {
        display: flex;
        width: 80%;
        gap: 10px;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-evenly;
    }

    &--bottom {
        
    }
   }

   &__heading {
    color: $brown;
    font-size: 24px;
    font-weight: 500;

    @include tablet {
        font-size: 1.25rem;
        white-space: nowrap;
    }

    @include desktop {
        font-size: 24px;
    }
   }

   &__button {
    display: flex;
    justify-content: center;
    color: white;
    background-color: $orange;
    font-weight: 400;
    padding: 0.25rem 0;
    border-radius: 1rem;
    white-space: no-wrap;
    overflow: hidden;
    font-size: 14px;
    width: 6rem;
   }

   &__line {
    width: 35%;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: flex;
    }

    &--bottom {
        width: 60%;
    }
   }

   &__link {
    text-decoration: none;
   }

   &__slideshow {
    display: flex;
    overflow-x: scroll;
    width: 100%;
   }

   &__slide {
    display: flex;
    justify-content: center;
    border-right: 1px solid lightgray;
    min-width: 250px;
    padding: 0rem 0.25rem;
   }

   &__mage {
    width: 80%;
    border-radius: 1rem;

    @include tablet {
        width: 75%;
    }
    @include desktop {
        width: 80%;
    }
   }

   &__trending {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: $light-copper;
    margin-bottom: 2rem;
   }

   &__fire {
    width: 3.5rem;
   }

   &__recommends {
    display: flex;
    justify-content: center;
   }

   &__books {
    display: flex;
    flex-wrap: wrap;
    width: 37.5%;
   }

   &__spotlight {
    display: flex;
    width: 37.5%;
    background-color: white;
   }

   &__img {
    width: 100px;
    border-radius: 0.25rem;
   }

   &__book {
    padding: 0 0.25rem;
   }

   &__white {
        background-color: white;
        display: flex;
        padding: 1rem;
        border-radius: 0.25rem;
        gap: 20px;
   }

   &__i {
    width: 175px; 
    border-radius: 0.25rem;
   }

   &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   &__name {
    font-size:0.75rem;
   }

   &__author {
    font-size: 0.5rem;
    font-weight: 500;
   }

   &__description {
    font-size: 0.5rem;
    font-weight: 400;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: flex;
    }
   }
}